@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
}
.containerSandwichMenu{
    display:none;
    width:35vw;
    height:10vh;
    background-color: black;
    
}

.containerSandwichMenu img{
    width:9vw;
    height:6vh;
}

.boxHeader{
    width: 100%;
    height:122px;
    display:flex;
    position:fixed;
    background-color: white;
    justify-content: space-between;
    z-index: 999;
}

.boxHeader h2{
    margin-top:30px;
    margin-left:140px;
    font-size:40px;
}

.boxHeader nav{
    width:40%;
    margin-top:50px;
    justify-content: space-between;
    margin-right:140px;
}

.boxHeader ul{
    display:flex;
    justify-content: space-between;
}

.boxHeader li{
    display:flex;
    justify-content: space-between; 
    font-size:1.5rem;
}

.boxHeader li:hover{
    display:flex;
    font-weight:900;
    align-items: center;
    list-style:none;
    
}

main{
    width:100%;
    position: relative;
    max-width: 1900px;
    margin: 0 auto;
}


.divTitle{
    display:flex;
    position:relative;
    width:80%;
    height: 100%;
    flex-direction: column;
    font-size:1.8rem;
    color:white;
    top:290px;
    left: 2em;
}
.divTitle h1{
    width: 90%;
    height: 40%;
}
.divTitle form{
    width: 800px;
    height: 10%;
}

button{
    color:white;
    background:none;
    border:none;
    font-size:1.6rem;
    margin: 60px 0;
    cursor:pointer;
}

.laranja{
    position:absolute;
    background-image: url(./assets/laranja\ azul\ recorte.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height:200%; 
    display:flex;
    position:absolute;
    top:150px;
}

.sectionGrid{
    width:80%;
    position: absolute;
    top: 43em;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left:140px;
}

.imageGrid{
    margin:5px;
    overflow:hidden;
}

.imageGrid img{
    width: 16vw;
    height:32vh;
    transition: 1s all;
}

.imageGrid:hover img{
    transform: scale(1.2);
}

footer{
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
    top: 80em;
    width:100%;
    height:126px;
}

.social{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:25%;
    height:10em;
}

.copyrightBox{
    display:flex;
    align-content: center;
    width:60%;
    justify-content: space-around;
}

.copyrightBox h4{
    font-size:1.3rem;
    margin-left:10vh;
}

.paragraphBox{
    display:flex;
    flex-direction:column;
}

.anchorButton{
    display:none;
    color:white;
    background-color: #333333;
}


@media(max-width:770px){
    
    .containerHeader{
        height:2em;
    }

    .boxHeader{
        width:100%;
        height:2em;
        font-size:18px;
    }

    .containerSandwichMenu{
        display:flex;
        justify-content: center;
        align-items: center;
        position:absolute;
    }
    
    .navigation{
        display:none;
    }

    .divTitle{
        top:460px;
    }

    .laranja{
        width:100%;
        background-size:cover;
    }

    .sectionGrid{
        width:50%;
        top:900px;
    }

    footer{
        display:flex;
        flex-direction: column;
        top:2000px;
    }

    .social{
        width:100%;
        height:60px;
        background-color:#7FDBD4;
        align-items: center;
        margin-left:140px;
    }

    .copyrightBox{
        display:flex;
        flex-direction: column;
    }

    .copyrightBox h4{
        margin:0;
    }
    
    .anchorButton{
        display:initial;
    }
}