@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
    font-family: 'Montserrat', sans-serif;
}

.boxHeader{
    width: 100%;
    height:122px;
    display:flex;
    position:fixed;
    background-color: white;
    justify-content: space-between;
}

.boxHeader h2{
    margin-top:30px;
    margin-left:140px;
    font-size:40px;
}

.boxHeader nav{
    width:40%;
    margin-top:50px;
    justify-content: space-between;
    margin-right:140px;
}

.boxHeader ul{
    display:flex;
    justify-content: space-between;
}

.boxHeader li{
    display:flex;
    justify-content: space-between; 
    font-size:1.5rem;
}

.boxHeader li:hover{
    display:flex;
    font-weight:900;
    align-items: center;
    list-style:none;
    
}

.divTitle{
    display:flex;
    position:relative;
    width:80%;
    height:100vh;
    flex-direction: column;
    font-size:1.8rem;
    color:white;
    top:350px;
    margin:0 140px;
}

button{
    color:white;
    background:none;
    border:none;
    font-size:1.6rem;
    margin: 60px 0;
    cursor:pointer;
}

.laranja{
    position:absolute;
    background-image: url(./assets/laranja\ azul\ recorte.png);
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height:113vh; 
    display:flex;
    position:absolute;
    top:122px;
}



.imageGrid{
    display:flex;
    flex-wrap: wrap;
    width:85%;
    height:150vh;
    align-content: center;
    margin-left:140px;
    overflow:initial;
}

.imageGrid img{
    width:250px;
    height:250px;
    margin: 5px;
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
    cursor:pointer;
}

.imageGrid:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

footer{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:126px;
}

.social{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:25%;
}

.copyrightBox{
    display:flex;
    align-content: center;
    width:60%;
    justify-content: space-around;
}

.copyrightBox h4{
    font-size:1.3em;
    margin-left:10vh;
}

.paragraphBox{
    display:flex;
    flex-direction:column;
}


